/* SAP Fiori Icons */
@font-face {
  font-family: 'SAP Fiori Icons';
  src:
    url('https://github.com/UserBIhwn/Hiwin_SACCustomFonts/blob/ff7be3d7bf7b2e36114c9a45469adeb6e7b0b611/SAP-icons.woff2') format('woff2'),
    url('https://github.com/UserBIhwn/Hiwin_SACCustomFonts/blob/ff7be3d7bf7b2e36114c9a45469adeb6e7b0b611/SAP-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

